@import 'tailwindcss';

@theme {
  --color-fitpass-green: #163940;
  --color-fitpass-ticket: #268694;
  --color-fitpass-grey: #707070;
}

@layer base {
  body {
    @apply bg-white;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold mb-2;
  }
  h1 {
    @apply text-xl tracking-wide;
  }
  h2 {
    @apply text-base;
  }
  h3 {
    @apply text-base;
  }
}

@layer components {
  #search {
    @apply py-2 px-4 border border-fitpass-grey rounded-full;
  }
  section {
    @apply mt-3;
  }
  .html5-qrcode-element {
    @apply p-2 border my-2 no-underline! min-w-42;
  }
}
