@import 'tailwindcss';

@theme {
  --color-fitpass-green: #2c5d67;
  --color-fitpass-ticket: rgb(38, 134, 148);
  --color-fitpass-grey: #707070;
}

@layer base {
  body {
    @apply py-4 bg-white;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold mb-2;
  }
  h1 {
    @apply text-xl tracking-wide;
  }
  h2 {
    @apply text-base;
  }
  h3 {
    @apply text-base;
  }
}

@layer components {
  #search {
    @apply py-2 px-4 border border-fitpass-grey rounded-full;
  }
  section {
    @apply mt-3;
  }
}
